<ion-view view-title="errand runner">
    <ion-content class="padding">
    <br>
    <br>
        <form id="task-form">
            <h4>where does your task end?</h4><br>
            <label id="locationField" class="item item-input item-floating-label">
                <span class="input-label">house number</span>
                <input id="2housenumber" placeholder="house number" type="text"></input>
            </label>
            <label id="locationField" class="item item-input item-floating-label">
                <span class="input-label">street name</span>
                <input id="2streetname" placeholder="street name" type="text" ng-focus="geolocate()"></input>
            </label>
             <label id="locationField" class="item item-input item-floating-label">
                <span class="input-label">postcode</span>
                <input id="2postcode" placeholder="postcode" type="text"></input>
            </label>
            <button id="submit-task" ng-click="deliverycodeAddress()" class="button button-stable button-block">
                done
            </button>
        </form>
    </ion-content>
</ion-view>