<ion-view view-title="errand runner">
    <ion-content class="padding">
       <br>
        <br>
        <form id="login-form">
            <label id="email" class="item item-input item-floating-label">
            <span class="input-label">Email</span>
                <input type="email" placeholder="Email" ng-model="userData.email"></input>
            </label>
            <label id="username" class="item item-input item-floating-label">
            <span class="input-label">Username</span>
                <input type="text" placeholder="Username" ng-model="userData.username"></input>
            </label>
            <label id="password" class="item item-input item-floating-label">
            <span class="input-label">Password</span>
                <input type="password" ng-model="userData.password" placeholder="Password"></input>
            </label>
            <label id="passwordConf" class="item item-input item-floating-label">
            <span class="input-label">Confirm Password</span>
                <input type="password" ng-model="userData.password_confirmation" placeholder="Confirm Password"></input>
            </label>
            <button id="sign-in"class="button button-stable button-block" ng-click="newUser()">Log in</button>
        </form>
    </ion-content>
</ion-view>