<ion-view view-title="errand_runner">
    <ion-content class="padding">
       <br>
        <br>
        <form id="login-form">
            <label id="email" class="item item-input item-floating-label">
            <span class="input-label">email</span>
                <input type="email" placeholder="email" ng-model="userData.email"></input>
            </label>
            <label id="username" class="item item-input item-floating-label">
            <span class="input-label">username</span>
                <input type="text" placeholder="username" ng-model="userData.username"></input>
            </label>
            <label id="password" class="item item-input item-floating-label">
            <span class="input-label">password</span>
                <input type="password" ng-model="userData.password" placeholder="password"></input>
            </label>
            <label id="passwordConf" class="item item-input item-floating-label">
            <span class="input-label">confirm password</span>
                <input type="password" ng-model="userData.password_confirmation" placeholder="confirm password"></input>
            </label>
            <button id="sign-in"class="button button-stable button-block" ng-click="newUser()">sign up</button>
        </form>
    </ion-content>
</ion-view>