<ion-view view-title="errand_runner">
    <ion-content>
        <ion-header-bar class="bar-dark">
            <h3 class="title">your tasks</h3>
        </ion-header-bar>
        <ion-refresher pulling-text="pull to refresh" on-refresh="doRefresh()">
        </ion-refresher>
        <br>
        <br>
        <br>
        <br>
        <br>
        <ion-list id="profile-title">
            <ion-item id="task-list" class="item-remove-animate item-icon-right" ng-repeat="item in allTasks" type="item-text-wrap" ng-click="removeTask()">
                <h2>task title: {{item.title}}</h2>
                <h4>description: {{item.description}}</h4>
                <h4>still open: {{item.open}}</h4>
                <i color="#A6AAA9" class="icon ion-checkmark-round"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>