<ion-view view-title="Add Task">
    <ion-content class="padding">
        <br>
        <br>
        <form id="task-form">
            <label id="locationField" class="item item-input item-floating-label">
                <span class="input-label">Pick up address</span>
                    <input id="autocomplete" placeholder="Enter pickup address" type="text" ng-focus="geolocate()"></input>
            </label>
            <label id="locationField2" class="item item-input item-floating-label">
            <span class="input-label">Pick up address</span>
                <input id="autocomplete2" placeholder="Enter delivery address" type="text" ng-focus="geolocate()"></input>
        </label>
            <label id ="task-title" class="item item-input item-floating-label">
                <span class="input-label">Task</span>
                <input type="text" ng-model="taskData.title" ng-focus="pickupcodeAddress()" placeholder="Task"></input>
            </label>
            <label id="task-descr" class="item item-input item-floating-label">
                <span class="input-label">Description</span>
                <input type="text" ng-model="taskData.description" ng-focus="deliverycodeAddress()" placeholder="Description"></input>
            </label>
            <a href="#/tab/map"><button id="submit-task"ng-click="newTask()" class="button button-stable button-block">
                Submit
            </button></a>
        </form>
    </ion-content>
</ion-view>