<ion-view view-title="errand runner">
    <ion-content class="padding">
        <ion-header-bar class="bar-dark">
            <h1 class="title">add a task</h1>
        </ion-header-bar>
        <br>
        <br>
        <br>
        <div class="list card">
            <a href="#/taskinfo" class="item item-icon-left">
                <i class="icon ion-home"></i> task details
            </a>
            <a href="#/pickup" class="item item-icon-left">
                <i class="icon ion-ios-telephone"></i> pickup address
            </a>
            <a href="#/dropoff" class="item item-icon-left">
                <i class="icon ion-wifi"></i> dropoff address
            </a>
        </div>
        <!--     <form id="task-form">
            <label id="locationField" class="item item-input item-floating-label">
                <span class="input-label">Pick up address</span>
                    <input id="autocomplete" placeholder="Enter pickup address" type="text" ng-focus="geolocate()"></input>
            </label>
            <label id="locationField2" class="item item-input item-floating-label">
            <span class="input-label">Pick up address</span>
                <input id="autocomplete2" placeholder="Enter delivery address" type="text" ng-focus="geolocate()"></input>
        </label>

            <button id="submit-task" ng-click="newTask()" ng-click="updateMap1()" class="button button-stable button-block">
                Submit
            </button>
        </form> -->
    </ion-content>
</ion-view>