<ion-view view-title="errand runner">
    <ion-content class="padding" ng-load="initialize()">
        <h3>title:  {{task.title}}</h4>
        <h4>description: {{task.description}}</h4>
        <br>
        <button id="accept-task" class="button button-stable button-block" on-touch="accept()" ng-click="taskAccepted()">accept task</button>
        <div id="second-map">
            <div id="map2" show="map" data-tap-disabled="true" style="height:100%; width:100%;"></div>
            <ion-footer-bar class="bar-dark">
            </ion-footer-bar>
    </ion-content>
    </div>
</ion-view>