<ion-view view-title="errand runner">
    <ion-content class="padding">
        <ion-header-bar class="bar-dark">
            <h1 class="title">add a task</h1>
        </ion-header-bar>
        <br>
        <br>
        <br>
        <div class="list card">
            <a href="#/taskinfo" class="item item-icon-right">
                <i class="icon ion-plus-round"></i> task details
            </a>
            <a href="#/pickup" class="item item-icon-right">
                <i class="icon ion-plus-round"></i> pickup address
            </a>
            <a href="#/dropoff" class="item item-icon-right">
                <i class="icon ion-plus-round"></i> dropoff address
            </a>
        </div>
            <button id="submit-task" ng-click="newTask()" class="button button-stable button-block">
                done
            </button>
        </form>
    </ion-content>
</ion-view>