<ion-view view-title="errand runner">
  <ion-content class="padding" onload="initialize">
  <ion-header-bar class="bar-dark" >
      <h4 class="title">all tasks</h4>
    </ion-header-bar>
    <div>
    <ion-refresher pulling-text="pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>
  </div>
      <div id="map" data-tap-disabled="true"></div>
    <ion-footer-bar class="bar-dark">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
      <a ng-click="updateMap1()" class="button button-icon icon ion-refresh"</a>
    </ion-footer-bar>
</ion-content>
</ion-view>