<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <!-- <ion-tab title="Add Task" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus" href="#/tab/account">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab> -->

   <ion-tab title="Add Task" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->


  <ion-tab title="Map" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

    <ion-tab title="Current Task" icon-off="ion-ios-checkmark-outline" icon-on="ion-ios-checkmark" href="#/tab/task">
    <ion-nav-view name="tab-task"></ion-nav-view>
  </ion-tab>


    <ion-tab title="My tasks" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/user/:user_id">
    <ion-nav-view  name="tab-user"></ion-nav-view>
  </ion-tab>


</ion-tabs>
